.glass-white {background: rgba(255, 255, 255, 0.25);}
.glass-black {background: rgba(0, 0, 0, 0.25);}
* {box-sizing: border-box; margin: 0px; padding: 0px;}
.ad {
    backdrop-filter: blur(5px);
    position: fixed;
    height: 45px;
    color: green;
    font-family: cursive;
    left: 20px;
    padding-top: 10px;
    display: inline-block;
    z-index: 100;
}
#waktu {
    position: fixed;
    top: 10px;
    left: 610px;
    font-family: cursive;
    font-style: oblique;
    z-index: 100;
    backdrop-filter: blur(5px);
}
nav {
    position: fixed;
    top: 10px; right: 20px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
    backdrop-filter: blur(5px);
}
nav a {
    color: black;
    font-family: monospace;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.5s ease;
}
nav a:hover {color: green;}
section {height: 700px;}
.nama {
    position: relative;
    font-family: cursive;
    font-size: 50px;
    font-style: italic;
    padding-top: 220px;
    color: green;
    left: 20px;
    display: inline-block;
}
.title-nama {
    position: relative;
    padding-top: 5px;
    display: inline-block;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    left: 20px;
}
.matcha {
    position: absolute;
    background-image: url("matcha.png");
    background-size: cover;
    width: 400px; height: 400px;
    z-index: 2;
    top: 70px;
    left: 600px;
    opacity: 85%;
}
.txt-back-matcha {
    position: absolute;
    font-family: cursive;
    font-size: 30px;
    text-shadow: 2px 0 black;
    color: green;
    top: 160px;
    font-style: italic;
    left: 600px;
}
.txt-front-matcha {
    position: absolute;
    font-family: cursive;
    font-size: 45px;
    text-shadow: 2px 0 black;
    color: green;
    top: 310px;
    font-style: italic;
    left: 770px;
    z-index: 3;
}
.panel {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 90px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 15px 2px black;
    backdrop-filter: blur(5px);
    bottom: 0px;
    left: 20%;
}
.i-pan {width: 35px; height: 35px; border-radius: 50%;}
.ig{background-image: url("ig-icon.svg"); background-size: cover;}
.wa{background-image: url("wa-icon.svg"); background-size: cover;}
.as{background-image: url("store-icon.svg"); background-size: cover;}
.em{background-image: url("email-icon.svg"); background-size: cover;}
.yt{background-image: url("yt-icon.svg"); background-size: cover;}
