@keyframes fade-down {
    from {opacity: 0; transform: translateY(-10px);}
    to {opacity: 1; transform: translateY(0);}
}
@keyframes menu-line {
    from {opacity: 0; transform: translateX(10px);}
    to {opacity: 1; transform: translateX(0);}
}

.glass-white {background: rgba(255, 255, 255, 0.25);}
.glass-black {background: rgba(0, 0, 0, 0.25);}

body {
    transition: all 1s;
}

.txt-portofolio {
    color: green;
    font-family: sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    transition: all 1s;
    transition-delay: 1.2s;
    opacity: 0;
    animation: fade-down 1s ease forwards;
}
.waktu {
    color: black;
    text-align: center;
    font-style: oblique;
    font-size: 20px;
    position: relative;
    top: 20px;
    transition: all 1s;
    transition-delay: 1.3s;
    opacity: 0;
    animation: fade-down 1s ease 0.5s forwards;
}
.menu-btn {
    width: 30px;
    height: 25px;
    position: absolute;
    top: 20px;
    text-align: right;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
}
.menu-line {
    width: 80%;
    height: 5px;
    background-color: black;
    transition: all 1s;
    transition-delay: 1.5s;
    opacity: 0;
}
.ml1 {animation: menu-line 0.5s ease forwards;}
.ml2 {animation: fade-down 0.5s ease 0.5s forwards;}
.ml3 {animation: fade-down 0.5s ease 1s forwards;}
.theme-mode-btn {
    display: block;
    width: 30px;
    height: 30px;
    background-color: black;
    position: absolute;
    right: 100px;
    top: 20px;
    border-radius: 50%;
    border-bottom: 5px solid rgb(230, 230, 0);
    border-left: 5px solid rgb(230, 230, 0);
    cursor: pointer;
    transition: all 0.5s;
    opacity: 0;
    animation: fade-down 1s ease 1s forwards;
}
